.Button {
    border-radius: 50%;
    width: 20%;
    padding-top: 10%;
    font-weight: bold;
    box-shadow: 0px 9px black;
    font-size: 200%;
}

.selected {
    background-color: rgb(114, 114, 243);
}
